{
  "extends": ["standard"],
  "rules": {
    "max-len": [2, 80],
    "space-before-function-paren": 0,
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": [2, { "before": false, "after": true }]
  },
  "env": {
    "mocha": true
  }
}
